In [ ]:
################################
# Intellectual property of Data Science - DMA - BNI. It is intended for use by authorized personnel only (Mentari ER, Atwin P, and Randu H)
# Unauthorized distribution, reproduction, or modification of this code, in whole or in part, is strictly prohibited
# without the express written consent of Data Science - DMA - BNI. Any use of this code outside the scope of its intended
# purpose must be authorized by Data Science - DMA - BNI. This code is provided "as is" without any warranty of any kind,
# express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose,
# and non-infringement. Data Science - DMA - BNI and the authors of this code shall not be liable for any damages, including
# but not limited to direct, indirect, special, incidental, or consequential damages or loss of profit, arising out of
# the use, inability to use, or performance of this code, even if Data Science - DMA - BNI or the authors have been advised
# of the possibility of such damages. By even looking at this code, you agree to these terms and conditions.
##################################

In [6]:
########################################
#         IMPORT DEPENDENCIES          #
########################################
import pandas as pd
from pandasai import SmartDataframe
from pandasai import SmartDatalake
from pandasai.llm import OpenAI

from pandasai import Agent

import sys
import os
from dotenv import load_dotenv

sys.path.append(os.path.abspath('../lImbad'))
env_file_path = os.path.abspath('../api_key.env')
load_dotenv(env_file_path)
openAIkey = os.getenv("api_dev_atwin")

In [7]:
########################################
#            IMPORT API-KEY            #
########################################
import os
curr_path = os.getcwd()
print("System Path:", curr_path)

System Path: d:\BNI\lImbad\.ipynb_old_research

In [12]:
openAIkey

In [ ]:
########################################
#           Instantiate a LLM          #
########################################
llm_35 = OpenAI(api_token = "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", #openAIkey
                , model='gpt-3.5-turbo')
llm_4 = OpenAI(api_token = "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", #openAIkey, 
               model='gpt-4')
llm_4 = OpenAI(api_token = "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", #openAIkey, 
                model='gpt-4-1106-preview')

In [16]:
# Sample DataFrame
df = pd.DataFrame({
    "country": ["United States", "United Kingdom", "France", "Germany", "Italy", "Spain", "Canada", "Australia", "Japan", "China"],
    "gdp": [19294482071552, 2891615567872, 2411255037952, 3435817336832, 1745433788416, 1181205135360, 1607402389504, 1490967855104, 4380756541440, 14631844184064],
    "happiness_index": [6.94, 7.16, 6.66, 7.07, 6.38, 6.4, 7.23, 7.22, 5.87, 5.12]
})

d2='files/masked/list_cif.csv'
d3='files/masked/tren.csv'
df4='files/ajt_api_ver.xlsx'

# Instantiate a LLM
llm = OpenAI(api_token="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" #openAIkey
             ,model='gpt-4'
             ) #asla dev token atwin

l=[df,d2,d3,df4]
df = SmartDataframe(df, config={"llm": llm})
dl = SmartDatalake(l, config={"llm": llm})
ag = Agent(l, config={"llm": llm})

prompt='what country is most sad and poor'

# df.chat(prompt)
# dl.chat(prompt)
ag.chat(prompt)

FileNotFoundError: [Errno 2] No such file or directory: 'files/masked/list_cif.csv'

In [231]:
wide=s[s['as_of_date']==20230930].rename(columns={'bulan1':'2022-10','bulan2':'2022-11'}).drop(columns=['namabulan1','namabulan2','Unnamed: 0'])
long_1=wide.melt(id_vars=['row_key','periode','as_of_date','flag_trx','variable','divisi_kelolaan','group_corporate'], var_name='tanggal', value_name='value').head(50) #ngubah jadi long, tahap 1
long_2=  #ngubah jadi long, tahap 1

In [ ]:
tesa_melt=pd.read_csv(d3)

melted_df = tesa_melt.melt(id_vars=['nama', 'variabel'], var_name='tanggal', value_name='value')[['nama','tanggal','variabel','value']]  #ngubah jadi long, tahap 1. variabel 
ai=melted_df.pivot(index=['nama', 'tanggal'], columns='variabel', values='value')  #ngubah jadi long, tahap 2: tiap variabel dijadiin kolom dengan nilai masing2 di setioap kolom

lamppiran

In [14]:
d = SmartDataframe(d4, config={"llm": llm})
dl.chat('siapa berat badang paling tinggi')

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'berat badan'\n"

In [18]:
d = SmartDataframe(d4, config={"llm": llm})
d.chat('berat badan paling tinggi antara 3 orang')

'Unfortunately, I was not able to answer your question, because of the following error:\n\nAll objects passed were None\n'

In [19]:
d.chat('atwin weight on 2023-09')

76.0

3.5 t

In [ ]:
q1='atwin peak weight when'

In [33]:
d3t = SmartDataframe(df4, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
# d3t.chat(q1)

In [34]:
d4t = SmartDataframe(df4, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
# d4t.chat(q1)

In [35]:
d4 = SmartDataframe(df4, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
# d4.chat(q1)

In [17]:
d

,nama,variabel,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08
0,atwin,gpa,3.40,3.40,3.40,3.40,3.46,3.46,3.46,3.46,3.46,3.46,3.83,3.83
1,atwin,tinggi badan,181.00,181.00,181.00,181.00,181.00,181.00,181.00,181.00,181.00,181.00,181.00,181.00
2,atwin,berat,76.00,77.00,77.00,80.00,83.00,79.00,78.00,80.00,82.00,85.00,84.00,83.00
3,atwin,jumlah proyek dipegang,23.00,21.00,21.00,12.00,3.00,5.00,7.00,12.00,13.00,12.00,22.00,25.00
4,atwin,screen time hp (menit),200.00,190.00,180.00,240.00,210.00,200.00,180.00,150.00,150.00,160.00,160.00,170.00
5,jeri,gpa,2.75,2.75,2.75,2.75,2.64,2.64,2.64,2.64,2.64,2.64,3.24,3.24
6,jeri,tinggi badan,168.00,168.00,169.00,168.00,168.00,168.00,168.00,168.00,168.00,168.00,168.00,168.00
7,jeri,berat,84.00,85.00,86.00,89.00,89.00,88.00,87.00,87.00,86.00,85.00,83.00,84.00
8,jeri,jumlah proyek dipegang,5.00,7.00,12.00,13.00,2.00,3.00,4.00,5.00,6.00,9.00,12.00,11.00
9,jeri,screen time hp (menit),300.00,330.00,320.00,420.00,445.00,320.00,320.00,320.00,320.00,350.00,330.00,320.00
10,,gpa,3.38,3.38,3.38,3.38,3.32,3.32,3.32,3.32,3.32,3.32,3.22,3.22
11,tio,tinggi badan,175.00,175.00,175.00,175.00,175.00,175.00,175.00,175.00,175.00,175.00,175.00,175.00
12,tio,berat,65.00,65.00,65.00,67.00,66.00,65.00,65.00,64.00,64.00,64.00,64.00,65.00
13,tio,jumlah proyek dipegang,32.00,32.00,13.00,6.00,6.00,8.00,12.00,21.00,25.00,31.00,32.00,30.00
14,tio,screen time hp (menit),210.00,200.00,200.00,260.00,200.00,200.00,200.00,220.00,190.00,210.00,210.00,200.00

In [39]:
q_bmi=''' hitung bmi pada september 2023 untuk ketiga orang '''

In [40]:
d3t = SmartDataframe(df4, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_bmi)

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'berat'\n"

In [ ]:
f"Unfortunately, I was not able to answer your question, because of the following error:{error}"

In [46]:
d4t = SmartDataframe(df4, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_bmi)

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'berat'\n"

In [45]:
d4 = SmartDataframe(df4, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_bmi)

"Unfortunately, I was not able to answer your question, because of the following error:\n\n('berat', '2023-09')\n"

In [78]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [85]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [86]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [81]:
d4t = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_bmi)

'Unfortunately, I was not able to answer your question, because of the following error:\n\nIndex contains duplicate entries, cannot reshape\n'

In [82]:
d4t = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_bmi)

variabel   nama        bmi
0                      NaN
1         atwin  23.198315
2          jeri  29.761905
3           tio  21.224490

In [87]:
d4t = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [80]:
d3t = SmartDataframe(melted_df, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [186]:
q_tesai

' aaaberapa jam atwin pegang hp di  september 2023 '

In [205]:
ai

variabel       berat badan   gpa  jumlah proyek dipegang  \
nama  tanggal
atwin 2023-09         76.0  3.40                    23.0
      2023-10         77.0  3.40                    21.0
      2023-11         77.0  3.40                    21.0
      2023-12         80.0  3.40                    12.0
      2024-01         83.0  3.46                     3.0
      2024-02         79.0  3.46                     5.0
      2024-03         78.0  3.46                     7.0
      2024-04         80.0  3.46                    12.0
      2024-05         82.0  3.46                    13.0
      2024-06         85.0  3.46                    12.0
      2024-07         84.0  3.83                    22.0
      2024-08         83.0  3.83                    25.0
jeri  2023-09         84.0  2.75                     5.0
      2023-10         85.0  2.75                     7.0
      2023-11         86.0  2.75                    12.0
      2023-12         89.0  2.75                    13.0
      2024-01         89.0  2.64                     2.0
      2024-02         88.0  2.64                     3.0
      2024-03         87.0  2.64                     4.0
      2024-04         87.0  2.64                     5.0
      2024-05         86.0  2.64                     6.0
      2024-06         85.0  2.64                     9.0
      2024-07         83.0  3.24                    12.0
      2024-08         84.0  3.24                    11.0
tio   2023-09         65.0  3.38                    32.0
      2023-10         65.0  3.38                    32.0
      2023-11         65.0  3.38                    13.0
      2023-12         67.0  3.38                     6.0
      2024-01         66.0  3.32                     6.0
      2024-02         65.0  3.32                     8.0
      2024-03         65.0  3.32                    12.0
      2024-04         64.0  3.32                    21.0
      2024-05         64.0  3.32                    25.0
      2024-06         64.0  3.32                    31.0
      2024-07         64.0  3.22                    32.0
      2024-08         65.0  3.22                    30.0

variabel       phone screen time (in minutes)  tinggi badan
nama  tanggal
atwin 2023-09                           200.0         181.0
      2023-10                           190.0         181.0
      2023-11                           180.0         181.0
      2023-12                           240.0         181.0
      2024-01                           210.0         181.0
      2024-02                           200.0         181.0
      2024-03                           180.0         181.0
      2024-04                           150.0         181.0
      2024-05                           150.0         181.0
      2024-06                           160.0         181.0
      2024-07                           160.0         181.0
      2024-08                           170.0         181.0
jeri  2023-09                           300.0         168.0
      2023-10                           330.0         168.0
      2023-11                           320.0         169.0
      2023-12                           420.0         168.0
      2024-01                           445.0         168.0
      2024-02                           320.0         168.0
      2024-03                           320.0         168.0
      2024-04                           320.0         168.0
      2024-05                           320.0         168.0
      2024-06                           350.0         168.0
      2024-07                           330.0         168.0
      2024-08                           320.0         168.0
tio   2023-09                           210.0         175.0
      2023-10                           200.0         175.0
      2023-11                           200.0         175.0
      2023-12                           260.0         175.0
      2024-01                           200.0         175.0
      2024-02                           200.0         175.0
      2024-03                           200.0         175.0
      2024-04                           220.0         175.0
      2024-05                           190.0         175.0
      2024-06                           210.0         175.0
      2024-07                           210.0         175.0
      2024-08                           200.0         175.0

In [204]:
agent = Agent([ai], config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
agent.chat('berapa jam nama atwin pegang hp di tanggal 2023-09 dalam sehari')

4.06712962962963

In [203]:
agent.explain()

"Sure, I can explain the process in a non-technical way.\n\nImagine you have a diary where you've been jotting down the amount of time you spend on your phone every day, but instead of writing it down in hours, you've been noting it in minutes. Now, you want to find out what your average daily phone usage is in hours for the month of September 2023.\n\nTo do this, first, we need to convert all those minute entries into hours because it's easier to understand how many hours you've spent rather than minutes. To convert minutes to hours, you simply divide the number of minutes by 60, since there are 60 minutes in an hour.\n\nOnce we have all the times in hours, we then add up all the hours and divide by the number of days you've recorded your phone usage. This gives us the average time you spent on your phone each day during September 2023.\n\nThe code I provided earlier does exactly this, but it uses a computer program to automate the process. It takes the list of minutes from your diary (which in this case is represented in a digital format), converts each entry to hours, calculates the average, and then presents the result."

In [198]:
agent = Agent([ai], config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
agent.chat('aaaberapa jam atwin pegang hp di tanggal 2023-09 dalam sehari')

146.41666666666666

In [194]:
agent.explain()

'I analyzed the previous conversation and understood that you wanted to know how many hours you would hold your phone in a day in 2023-09. To calculate this, I used a simple formula. First, I divided the number of minutes you mentioned by 60 to convert it into hours. Then, I rounded the result to two decimal places. Finally, I calculated the average phone screen time for all the days mentioned in the data. The result is the average number of hours you would hold your phone in a day.'

4.06712962962963

In [190]:
agent.explain()

'I analyzed the previous conversation and understood that you wanted to know how many hours you will be holding your phone in 2023-09 in a day. To calculate this, I used a code that takes the phone screen time in minutes and converts it to hours. Then, I rounded the result to two decimal places. Finally, I returned the result as a dataframe.'

In [83]:
d3t = SmartDataframe(melted_df, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_bmi)

     nama  tanggal        bmi
0          2023-09        NaN
1          2023-10        NaN
2          2023-11        NaN
3          2023-12        NaN
4          2024-01        NaN
5          2024-02        NaN
6          2024-03        NaN
7          2024-04        NaN
8          2024-05        NaN
9          2024-06        NaN
10         2024-07        NaN
11         2024-08        NaN
12  atwin  2023-09  23.198315
13  atwin  2023-10  23.503556
14  atwin  2023-11  23.503556
15  atwin  2023-12  24.419279
16  atwin  2024-01  25.335002
17  atwin  2024-02  24.114038
18  atwin  2024-03  23.808797
19  atwin  2024-04  24.419279
20  atwin  2024-05  25.029761
21  atwin  2024-06  25.945484
22  atwin  2024-07  25.640243
23  atwin  2024-08  25.335002
24   jeri  2023-09  29.761905
25   jeri  2023-10  30.116213
26   jeri  2023-11  30.110991
27   jeri  2023-12  31.533447
28   jeri  2024-01  31.533447
29   jeri  2024-02  31.179138
30   jeri  2024-03  30.824830
31   jeri  2024-04  30.824830
32   jeri  2024-05  30.470522
33   jeri  2024-06  30.116213
34   jeri  2024-07  29.407596
35   jeri  2024-08  29.761905
36    tio  2023-09  21.224490
37    tio  2023-10  21.224490
38    tio  2023-11  21.224490
39    tio  2023-12  21.877551
40    tio  2024-01  21.551020
41    tio  2024-02  21.224490
42    tio  2024-03  21.224490
43    tio  2024-04  20.897959
44    tio  2024-05  20.897959
45    tio  2024-06  20.897959
46    tio  2024-07  20.897959
47    tio  2024-08  21.224490

In [88]:
d3t = SmartDataframe(melted_df, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_bmi)

    nama        bmi
0               NaN
1  atwin  23.198315
2   jeri  29.761905
3    tio  21.224490

In [161]:
q_tesai='''sberapa jumlah proyek dipegang masign2 orang untuk 2023 sept|'''

In [159]:
d4t = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_tesai)

0

In [162]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai)

Empty DataFrame
Columns: [nama, tanggal, variabel, value]
Index: []

In [155]:
q_tesai='''hw many prjects does each of the three guys have in 2023 sept|'''

In [156]:
d3t = SmartDataframe(melted_df, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_tesai)

    nama  jumlah_project
0  atwin               5
1   jeri               5
2    tio               5

In [115]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai)

Empty DataFrame
Columns: [nama, tanggal, variabel, value]
Index: []

In [108]:
q_tesai='''  atwinn berapa lama liat hp dalam (menit)	 di sept 2023'''

In [109]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai)

'Data not found'

In [104]:
d4 = SmartDataframe(melted_df, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai) #q_tesai='''  atwinn  screen time hp (menit)	 di sept 2023'''

200.0

In [107]:
d3t = SmartDataframe(melted_df, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_tesai)

200.0

In [170]:
q_tesai=''' aaaberapa jam atwin pegang hp di september 2023 '''


d3t = SmartDataframe(ai, config={"llm": OpenAI(api_token=api_dev_atwin,model='gpt-3.5-turbo')})
d3t.chat(q_tesai)

8785.0

In [172]:
q_tesai=''' aaaberapa jam atwin pegang hp di september 2023 '''

In [173]:
d4 = Agent(ai, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai) #q_tesai='''  atwinn  screen time hp (menit)	 di sept 2023'''

146.41666666666666

In [181]:
d4t = SmartDataframe(ai, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4-1106-preview')})
d4t.chat(q_tesai)

122.01388888888889

In [180]:
q_tesai='''berapa jam atwin pegang hp di taqnggal september 2023 '''

In [174]:
d4 = SmartDataframe(ai, config={"llm":  OpenAI(api_token=api_dev_atwin,model='gpt-4')})
d4.chat(q_tesai) #q_tesai='''  atwinn  screen time hp (menit)	 di sept 2023'''

AttributeError: 'SmartDataframe' object has no attribute 'explain'

In [138]:
tesa_melt=pd.read_excel(df4)

In [169]:
ai

variabel       berat badan   gpa  jumlah proyek dipegang  \
nama  tanggal
atwin 2023-09         76.0  3.40                    23.0
      2023-10         77.0  3.40                    21.0
      2023-11         77.0  3.40                    21.0
      2023-12         80.0  3.40                    12.0
      2024-01         83.0  3.46                     3.0
      2024-02         79.0  3.46                     5.0
      2024-03         78.0  3.46                     7.0
      2024-04         80.0  3.46                    12.0
      2024-05         82.0  3.46                    13.0
      2024-06         85.0  3.46                    12.0
      2024-07         84.0  3.83                    22.0
      2024-08         83.0  3.83                    25.0
jeri  2023-09         84.0  2.75                     5.0
      2023-10         85.0  2.75                     7.0
      2023-11         86.0  2.75                    12.0
      2023-12         89.0  2.75                    13.0
      2024-01         89.0  2.64                     2.0
      2024-02         88.0  2.64                     3.0
      2024-03         87.0  2.64                     4.0
      2024-04         87.0  2.64                     5.0
      2024-05         86.0  2.64                     6.0
      2024-06         85.0  2.64                     9.0
      2024-07         83.0  3.24                    12.0
      2024-08         84.0  3.24                    11.0
tio   2023-09         65.0  3.38                    32.0
      2023-10         65.0  3.38                    32.0
      2023-11         65.0  3.38                    13.0
      2023-12         67.0  3.38                     6.0
      2024-01         66.0  3.32                     6.0
      2024-02         65.0  3.32                     8.0
      2024-03         65.0  3.32                    12.0
      2024-04         64.0  3.32                    21.0
      2024-05         64.0  3.32                    25.0
      2024-06         64.0  3.32                    31.0
      2024-07         64.0  3.22                    32.0
      2024-08         65.0  3.22                    30.0

variabel       phone screen time (in minutes)  tinggi badan
nama  tanggal
atwin 2023-09                           200.0         181.0
      2023-10                           190.0         181.0
      2023-11                           180.0         181.0
      2023-12                           240.0         181.0
      2024-01                           210.0         181.0
      2024-02                           200.0         181.0
      2024-03                           180.0         181.0
      2024-04                           150.0         181.0
      2024-05                           150.0         181.0
      2024-06                           160.0         181.0
      2024-07                           160.0         181.0
      2024-08                           170.0         181.0
jeri  2023-09                           300.0         168.0
      2023-10                           330.0         168.0
      2023-11                           320.0         169.0
      2023-12                           420.0         168.0
      2024-01                           445.0         168.0
      2024-02                           320.0         168.0
      2024-03                           320.0         168.0
      2024-04                           320.0         168.0
      2024-05                           320.0         168.0
      2024-06                           350.0         168.0
      2024-07                           330.0         168.0
      2024-08                           320.0         168.0
tio   2023-09                           210.0         175.0
      2023-10                           200.0         175.0
      2023-11                           200.0         175.0
      2023-12                           260.0         175.0
      2024-01                           200.0         175.0
      2024-02                           200.0         175.0
      2024-03                           200.0         175.0
      2024-04                           220.0         175.0
      2024-05                           190.0         175.0
      2024-06                           210.0         175.0
      2024-07                           210.0         175.0
      2024-08                           200.0         175.0

In [140]:


# Melt the DataFrame
melted_df = tesa_melt.melt(id_vars=['nama', 'variabel'], var_name='tanggal', value_name='value')[['nama','tanggal','variabel','value']]

# Display the result
melted_df

      nama  tanggal                        variabel   value
0    atwin  2023-09                             gpa    3.40
1    atwin  2023-09                    tinggi badan  181.00
2    atwin  2023-09                     berat badan   76.00
3    atwin  2023-09          jumlah proyek dipegang   23.00
4    atwin  2023-09  phone screen time (in minutes)  200.00
..     ...      ...                             ...     ...
175    tio  2024-08                             gpa    3.22
176    tio  2024-08                    tinggi badan  175.00
177    tio  2024-08                     berat badan   65.00
178    tio  2024-08          jumlah proyek dipegang   30.00
179    tio  2024-08  phone screen time (in minutes)  200.00

[180 rows x 4 columns]

In [74]:
melted_df.head(50)

     nama  tanggal                variabel   value
0   atwin  2023-09                     gpa    3.40
1   atwin  2023-09            tinggi badan  181.00
2   atwin  2023-09                   berat   76.00
3   atwin  2023-09  jumlah proyek dipegang   23.00
4   atwin  2023-09  screen time hp (menit)  200.00
5    jeri  2023-09                     gpa    2.75
6    jeri  2023-09            tinggi badan  168.00
7    jeri  2023-09                   berat   84.00
8    jeri  2023-09  jumlah proyek dipegang    5.00
9    jeri  2023-09  screen time hp (menit)  300.00
10         2023-09                     gpa    3.38
11    tio  2023-09            tinggi badan  175.00
12    tio  2023-09                   berat   65.00
13    tio  2023-09  jumlah proyek dipegang   32.00
14    tio  2023-09  screen time hp (menit)  210.00
15  atwin  2023-10                     gpa    3.40
16  atwin  2023-10            tinggi badan  181.00
17  atwin  2023-10                   berat   77.00
18  atwin  2023-10  jumlah proyek dipegang   21.00
19  atwin  2023-10  screen time hp (menit)  190.00
20   jeri  2023-10                     gpa    2.75
21   jeri  2023-10            tinggi badan  168.00
22   jeri  2023-10                   berat   85.00
23   jeri  2023-10  jumlah proyek dipegang    7.00
24   jeri  2023-10  screen time hp (menit)  330.00
25         2023-10                     gpa    3.38
26    tio  2023-10            tinggi badan  175.00
27    tio  2023-10                   berat   65.00
28    tio  2023-10  jumlah proyek dipegang   32.00
29    tio  2023-10  screen time hp (menit)  200.00
30  atwin  2023-11                     gpa    3.40
31  atwin  2023-11            tinggi badan  181.00
32  atwin  2023-11                   berat   77.00
33  atwin  2023-11  jumlah proyek dipegang   21.00
34  atwin  2023-11  screen time hp (menit)  180.00
35   jeri  2023-11                     gpa    2.75
36   jeri  2023-11            tinggi badan  169.00
37   jeri  2023-11                   berat   86.00
38   jeri  2023-11  jumlah proyek dipegang   12.00
39   jeri  2023-11  screen time hp (menit)  320.00
40         2023-11                     gpa    3.38
41    tio  2023-11            tinggi badan  175.00
42    tio  2023-11                   berat   65.00
43    tio  2023-11  jumlah proyek dipegang   13.00
44    tio  2023-11  screen time hp (menit)  200.00
45  atwin  2023-12                     gpa    3.40
46  atwin  2023-12            tinggi badan  181.00
47  atwin  2023-12                   berat   80.00
48  atwin  2023-12  jumlah proyek dipegang   12.00
49  atwin  2023-12  screen time hp (menit)  240.00